@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:300);
body {
    font: 300 14px/20px 'Open Sans', sans-serif;
    background-color: #FAFAFA;
}
section {
    min-height: 600px;
}
a {
    color: #FFF;
}
a:hover {
    color: #FFB74D;
}
h1 {
    color: #222;
}
.bold {
    font-weight: bold;
}
.navbar {
    background: #282D33 ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 0px;
    border-bottom: 1px solid #FFB74D;
    border-radius:0px;
}

.navbar .navbar-nav>li>a {
    color: #FFF;
    background-color: transparent;
}
.navbar .navbar-nav>li.active>a,
.navbar .navbar-nav>li:hover>a,
.navbar .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #FFB74D;
}
.navbar a.navbar-brand, .navbar a.navbar-brand:active, .navbar a.navbar-brand:hover {
    color: #FFF;
    font-size: 25px;
    padding: 2px;
}
a.navbar-brand img {
  width: 130px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #FFB74D;
}
.header {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #FFB74D;
    color: #FFF;
    height: 500px;
}
    .header h1 {
        font-weight: bold;
    }
    .header .sub-header {
        color: #444;
    }
f.body {
    color: #555;
}
.body h3 {
    margin-bottom: 20px;
    color: #585858;
    font-size: 28px;
    text-transform: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.body h3 span {
    background: #fff;
    display: inline-block;
    height: 100%;
    padding: 0 25px;
}
.body .box {
    margin-top: 50px;
}
.body .box .icon-div {
    background-color: #FF8B00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #FAFAFA;
    display: inline-block;
    padding: 30px;
}
.body .box h5.icon-head {
    font-weight: bold;
    color: #555;
    margin: 20px;
}
.body .box p {
    color: #555;
    margin: 20px;
}
.footer {
    width: 100%;
    background-color: #282D33;
    padding: 20px 0;
    color: #72777F;
}
.copyright-footer {
    width: 100%;
    height: 60px;
    background-color: #323840;
    padding: 20px 0;
    color: #72777F;
}

/* custom theme */
.orange {
    color: #FFB74D;
}
.bg-orange {
    background-color: #FFB74D;
}

.white {
    color: #FFF;
}
.foot-box h3{
    font-size: 14px;
    color: #FFF;
}
.foot-box .foot-body {
    font-size: 12px;
}
.re-box {
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    overflow: hidden;
}
.re-box div.img-div {
    height: 242px;
    overflow: hidden;
    text-align: center;
    border-bottom: 4px solid #FFB74D;
}
.re-box div.img-div img{
    width: 358px;
    vertical-align: bottom;
}
.re-box .re-box-body {
    padding: 15px;
}
.re-box .re-box-foot {
    margin: 0 10px;
    padding: 10px;
    font-size: 15px;
    color: #FFB74D;
    text-align: center;
    border-top: 1px solid #F0F0F0;
}
.re-box .re-box-foot a {
    color: #FFB74D;
    text-decoration: none;
    font-weight: bold;
}
.social-media a {
    width: 41px;
    height: 41px;
    padding: 11px 0px;
    background-color: #323840;
    color: #a6b3bb;
    margin: 0px 10px 10px 0px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 3px;
}
.social-media a:hover {
    color: #FFF;
    background-color: #FFB74D;
}
.social-media a i {
    font-size: 19px;
}
.real-estate-section, .admin-section {
    margin-bottom: 30px;
}
.quote-section {
    padding-top: 20px;
    background-color: #282d33;
    margin-bottom: 30px;
    color: #FAFAFA;
}
.quote-section blockquote {
    border-left: 5px solid #FFB74D;
    font-style: italic;
}
.home-section {
    margin-bottom: 30px;
}
.text-box-head {
    background-color: #EAEAEA;
    padding: 9px 0px 9px 13px;
    font-size: 16px;
    margin-bottom: 13px;
    border-radius: 4px;
    color: #434a54;
    font-weight: bold;
}
.carousel-caption.bar{
    text-align: left;
    right: inherit;
    left: 0px;
    top: 70px;
    text-shadow:none;
}
.carousel-caption.bar div {
    background-color: #FFB74D;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    width: 80%;
}
.sub-heading-section {
    background-color: #FFB74D;
    margin-top: 50px;
    color: #FFF;
    font-size: 16px;
}
.sub-heading {
    padding: 10px 0 0;
}
.text-box-img-box {
    float: left;
    background-color: #FFF;
    margin: 0 10px 10px 0;
    overflow: hidden; 
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}
.text-box-img {
    height: 180px;
    overflow: hidden;
    text-align: center;
    border-bottom: 4px solid #FFB74D;
}
.text-box-img img {
    width: 264px;
}
.text-box-foot {
    background-color: #EEE;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
hr {
    border-top: 2px solid #EAEAEA;
}
.hashtag-navgation {
    margin-top: 50px;
}
a.foot-link {
    color: #72777F;
    text-decoration: none;
}
a.foot-link:hover {
    color: #FFB74D;
}
.map-box-head {
    background-color: #EAEAEA;
    padding: 9px 0px 9px 13px;
    font-size: 16px;
    color: #434a54;
    font-weight: bold;
    border: 1px solid #DADADA;
    text-align: center;
}
.map figure {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.map figure iframe {
  width: 100%;
  height: 350px;
  max-width: 100%;
  border: 0;
}
.form-control, input[type='text'], input[type='email'], input[type='number'], input[type='password'], textarea, select {
    border: 1px solid #CCC;
    border-bottom: 3px solid #CCC;
    padding: 15px;
    height: auto;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
input.error, input:focus.error  {
    border-color: #EF0000;
}
label.error {
    color: #EF0000;
    font-weight: normal;
}
table.dtable {
    margin-top: 20px;
    margin-bottom: 10px;
    border-collapse: separate;
    border-spacing: 0 5px;
    position: relative;
}
    table.dtable>thead>tr>th {
        color: #333;
        background: #DDD;
        border-color: #DDD;
        border-right: 1px solid #D0D0D0;
    }
    table.dtable tr td, table.dtable tr th {
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        border-right: 1px solid #EEE;
    }
    table.dtable tr td:first-child {
        border-left: 1px solid #CCC;
    }
    table.dtable tr th:first-child {
        border-top-left-radius: 6px;
        border-left: 1px solid #CCC;
    }

    table.dtable tr td:last-child {
        border-right: 1px solid #CCC;
    }
    table.dtable tr th:last-child {
        border-top-right-radius: 6px;
        border-right: 1px solid #CCC;
    }
    table.dtable span.pin {
        position: absolute;
        top: -10px;
        font-size: 30px;
        left: -8px;
        color: #444;
    }

.dataTables_wrapper {
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_length {
  float: right;
}
.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #cacaca;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #57b74b;
  background-color: #65C178;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #65C178), color-stop(100%, #57b74b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #65C178 0%, #57b74b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #65C178 0%, #57b74b 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #65C178 0%, #57b74b 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #65C178 0%, #57b74b 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #65C178 0%, #57b74b 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #5cb85c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5cb85c), color-stop(100%, #419641 ));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5cb85c 0%, #419641  100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #5cb85c 0%, #419641  100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #5cb85c 0%, #419641  100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #5cb85c 0%, #419641  100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #5cb85c 0%, #419641  100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  z-index: 10001;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}